.stats {
  background: #F7FAFC;
  width: 100%;
  padding: 50px 0;
}

.stats .container h1 {
  font-size: 1.825rem;
  padding-bottom: 20px;
}

.stats .container .facts {
  padding: 20px 0;
}

.stats .container .facts p {
  font-size: 1.125rem;
  line-height: 2rem;
  color: #718096;
  padding-bottom: 1.5rem;
}

.stats .container .facts section small {
  display: block;
  padding: 10px 0;
}

.stats .container .facts section small span {
  font-size: smaller;
}

.stats .container .facts section .showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats .container .facts section .showcase .statBlock {
  padding: 30px;
  background: #2D3748;
  color: white;
}
